@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
}

h1,
h2,
h3,
p {
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin: 0; */
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
}

/* Header */

.main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media (max-width:320px) {
    .main-header {
        width: 320px;
        height: 56px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .main-header {
        width: 768px;
        height: 72px;
    }
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width:320px) {
    .container {
        width: 320px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .container {
        width: 768px;
    }
}

.header-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;

}

@media (max-width:320px) {
    .header-container {
        width: 320px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .header-container {
        width: 768px;
    }
}

.main-nav {
    display: flex;
    align-items: center;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #404bbf;
    margin-left: 24px;
    margin-right: 76px;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 115px;
    height: 24px;
    margin-left: 16px;
}

.span-logo {
    color: #404bbf;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.span-logo2 {
    color: #2E2F42;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width:320px) {
    .span-logo {
        width: 115px;
        height: 24px;
        left: 16px;
    }

    .span-logo2 {
        width: 115px;
        height: 24px;
        left: 16px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .span-logo {
        width: 44px;
        height: 21px;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
    }

    .span-logo2 {
        width: 71px;
        height: 21px;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
    }
}

.header-list {
    display: flex;
    gap: 40px;
}

@media (max-width:320px) {
    .header-list {
        display: none;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .header-list {
        width: 261px;
        height: 48px;
        margin-top: 24px;
    }
}

.modal-header.is-open {
    .header-list {
        visibility: visible;
        display: block;
        width: 151px;
        height: 200px;
    }
}

.header-item {
    margin-bottom: 40px;
}

.header-item:hover {
    color: #404bbf;
}

.header-item:focus {
    color: #404bbf;
}

.header-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.modal-header.is-open {
    .header-link {
        color: #2E2F42;
        width: 109px;
        height: 40px;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
    }
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.modal-header.is-open {
    .header-link::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
}

.modal-header.is-open {
    .header-link::after {
        display: none;
    }

}

.address {
    font-style: normal;
}

@media (max-width:320px) {
    .address {
        display: none;
    }

    .modal-header.is-open {
        .address {
            display: block;
            margin-top: 168px;
        }
    }
}

@media (min-width:321px) and (max-width:768px) {
    .address {
        display: block;
        margin: 24px;

    }
}

.address-list {
    display: flex;
    gap: 40px;
}

@media (min-width:321px) and (max-width:768px) {
    .address-list {
        display: block;
    }
}

.modal-header.is-open {
    .address-list {
        display: block;
    }
}

.modal-header.is-open {
    .address-item {
        margin-bottom: 24px;
    }

}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

@media (min-width:321px) and (max-width:768px) {
    .address-link {
        width: 119px;
        height: 14px;
        top: 16px;
        left: 633px;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        margin-left: 96px;
    }
}

.header-button {
    height: 24px;
    visibility: hidden;
    cursor: pointer;
    display: block;
    border: none;
}

@media (max-width:320px) {
    .header-button {
        visibility: inherit;
        margin-left: 120px;
        margin-top: 12px;
    }
}

.modal-header {
    visibility: hidden;
    position: absolute;
    width: 320px;
    height: 640px;
    top: 0%;
    left: 0%;
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
}

@media (max-width: 320px) {
    .modal-header {
        position: fixed;
        width: 100%;
        height: 100%;
        transform: none;
    }
}

.modal-header.is-open {
    visibility: visible;
}

.btn-close-modal-header {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #e7e9fc; */
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-list {
    display: flex;
    gap: 16px;
    width: 208px;
    height: 40px;
    margin-top: 48px;
    margin-left: 16px;
}

.header-list-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-svg {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Prima sectiune */

.first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/first-section-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}

@media (max-width:320px) and (min-resolution: 192dpi) {
    .first-section {
        width: 320px;
        height: 432px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/first-section-bg.jpg');
    }
}

@media (min-width:321px) and (max-width:768px) {
    .first-section {
        width: 768px;
        height: 436px;
        top: 72px;
    }
}

.first-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

@media (max-width:320px) {
    .first-section-title {
        width: 216px;
        height: 160px;
        margin-left: 52px;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .first-section-title {
        width: 496px;
        height: 120px;
        margin-left: 136px;
        margin-top: -96px;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
    }
}

.button-order {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width:320px) {
    .button-order {
        margin-left: 75px;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .button-order {
        margin-top: 36px;
        margin-left: 300px;
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
    }
}

.button-order:hover {
    background-color: #404bbf;
}

.button-order:focus {
    background-color: #404bbf;
}

/* Sectiunea 2 */

.second-section {
    padding: 120px 0;
}

@media (max-width:320px) {
    .second-section {
        padding: 16;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .second-section {
        padding: 16px;
    }
}

.second-list {
    display: flex;
    gap: 24px;
}

@media (max-width:320px) {
    .second-list {
        display: block;
        width: 288px;
        height: 696px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .second-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.second-list-item {
    width: calc((100% - 72px) / 4);
    ;
}

@media (max-width:320px) {
    .second-list-item {
        width: 288px;
        height: 120px;
        gap: 8px;
        margin: 72px 16px 72px 16px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .second-list-item {
        width: 356px;
        height: 120px;
        gap: 8px;
    }
}

@media (max-width:320px) {
    .second-list-item:first-of-type {
        margin-top: 96px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .second-list-item:first-child {
        margin-top: 96px;
        margin-bottom: 72px;
    }

    .second-list-item:nth-child(2) {
        margin-top: 96px;
        margin-bottom: 72px;
    }

    .second-list-item:last-child {
        margin-bottom: 96px;
    }

    .second-list-item:nth-last-child(2) {
        margin-bottom: 96px;
    }
}

@media (max-width:320px) {
    .second-list-item:last-of-type {
        padding-bottom: 96px;
    }
}

.second-section-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    visibility: hidden;
}

@media (max-width:320px) {
    .second-section-title {
        visibility: visible;
        width: 288px;
        height: 40px;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .second-section-title {
        visibility: visible;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
}

.second-section-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

@media (max-width:320px) {
    .second-section-paragraph {
        width: 288px;
        height: 72px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .second-section-title {}
}

.container-iconite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

@media (max-width:320px) {
    .container-iconite {
        display: none;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .container-iconite {
        display: none;
    }
}

/* A treia sectiune */

.third-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

@media (max-width:320px) {
    .third-section {
        width: 320px;
        height: 2232px;
        top: 1376px;
        margin-top: 96px;
    }
}

@media (min-width:321px) and (max-width:768px) {
    .third-section {
        width: 768px;
        height: 1224px;
        top: 1012px;
    }
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

@media (max-width:320px) {
    .third-section-title {
        width: 162px;
        height: 40px;
        font-weight: 700;
        line-height: 40px;
        margin-left: 79px;
    }
}

.third-section-list {
    display: flex;
    gap: 24px;
}

@media (max-width:320px) {
    .third-section-list {
        display: block;
        width: 264px;
        height: 1928px;
        top: 1584px;
        left: 28px;
        gap: 72px;
    }
}

.third-section-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media (max-width:320px) {
    .third-section-item {
        width: 264px;
        height: 428px;
        padding: 0px 0px 32px 0px;
        gap: 32px;
        border-radius: 0px 0px 4px 4px;
        margin: 72px 14px 72px 14px;
    }
}

.third-section-item:first-child {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.angajat-pozitie {
    padding: 32px 0;
}

@media (max-width:320px) {
    .angajat-pozitie {
        width: 232px;
        height: 104px;
        gap: 8px;
    }
}

.third-section-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

@media (max-width:320px) {
    .third-section-item-title {
        font-size: 19px;
        width: 134px;
        height: 24px;

        margin-left: 65px;
    }
}

.third-section-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

@media (max-width:320px) {
    .third-section-item-paragraph {
        /* width: 128px; */
        height: 24px;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 32px;
        /* margin-right: 68px; */
    }
}

.lista-svg {
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media (max-width:320px) {
    .lista-svg {
        width: 232px;
        height: 40px;
        gap: 24px;
        margin-top: 8px;
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.element-list-svg {
    width: 40px;
    height: 40px;
}

.element-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-list-link:hover {
    background-color: #404bbf;
}

.element-list-link:focus {
    background-color: #404bbf;
}

.element-svg {
    fill: #f4f4fd;
}

/* A patra sectiune */

.fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media (max-width:320px) {
    .fourth-section {
        width: 288px;
        height: 3052px;
        /* top: 3704px; */
        left: 16px;
    }
}

.fourth-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

@media (max-width:320px) {
    .fourth-section-title {
        width: 218px;
        height: 40px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        margin-left: 51px;
        margin-right: 51px;
    }
}

.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

@media (max-width:320px) {
    .fourth-section-list {
        display: block;
    }
}

.fourth-item-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width:320px) {
    .fourth-item-list {
        width: 288px;
        height: 400px;
        margin-bottom: 48px;
    }
}

.fourth-item-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-section-imagine {
    position: relative;
    overflow: hidden;
}


@media (max-width:320px) {
    .fourth-section-imagine {
        width: 288px;
        height: 280px;
    }
}

.fourth-section-item-p {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-section-list:hover .fourth-section-item-p {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.aplicatie-categorie {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

@media (max-width:320px) {
    .aplicatie-categorie {
        width: 288px;
        height: 120px;
        top: 280px;
        padding: 32px 16px 32px 16px;
        gap: 8px;
        border: 0px 1px 1px 1px;
    }
}

.fourth-section-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

@media (max-width:320px) {
    .fourth-section-item-title {
        height: 24px;
        line-height: 24px;
        text-align: left;
        /* margin-top: 32px; */
        margin-left: 16px;
        margin-bottom: 8px;
    }
}

.fourth-section-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media (max-width:320px) {
    .fourth-section-paragraph {
        width: 30px;
        height: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-top: 8px;
        margin-left: 16px;
        margin-bottom: 32px;
    }
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    display: inline-block;
    margin-bottom: 16px;
}

@media (max-width:320px) {
    .footer {
        width: 320px;
        height: 664px;
        border: solid 1px 0px 0px 0px;
    }
}

.footer-container {
    display: flex;
    align-items: baseline;
}

@media (max-width:320px) {
    .footer-container {
        display: inline-block;
        width: 320px;
    }
}

.footer-logo-paragraph {
    margin-right: 120px;
}

@media (max-width:320px) {
    .footer-logo-paragraph {
        width: 288px;
        height: 112px;
        margin-bottom: 72px;
        margin-left: 16px;
    }
}

.logo-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

@media (max-width:320px) {
    .logo-footer {
        width: 116px;
        height: 24px;
        top: 6648px;
        margin-left: 102px;
        align-items: center;
        text-align: center;
    }
}

.span-footer {
    color: #f4f4fd;
}

.footer-paragraph {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

@media (max-width:320px) {
    .footer-paragraph {
        width: 288px;
        height: 72px;
        margin-left: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
}

@media (max-width:320px) {
    .social-media {
        width: 208px;
        height: 80px;
        margin-bottom: 72px;
    }
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

@media (max-width:320px) {
    .footer-social {
        width: 96px;
        height: 24px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 16px;
        margin-left: 112px;
    }
}

.footer-list {
    display: flex;
    gap: 16px;
}

@media (max-width:320px) {
    .footer-list {
        width: 208px;
        height: 40px;
        margin-top: 16px;
        gap: 16px;
        margin-left: 56px;
    }
}

.footer-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item:first-child {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-svg {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width:320px) {
    .footer-container-form {
        display: inline-block;
        width: 288px;
        height: 136px;
        margin-left: 16px;
        border-radius: 4px 0px 0px 0px;
        border: 1px 0px 0px 0px;
    }
}

.footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

@media (max-width:320px) {
    .footer-subscribe {
        width: 75px;
        height: 24px;
        margin-left: 122px;
        line-height: 24px;
        text-align: left;
    }
}

.footer-form {
    display: flex;
    gap: 24px;
}

@media (max-width:320px) {
    .footer-form {
        display: inline-block;
    }
}

.form-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

@media (max-width:320px) {
    .form-email {
        width: 288px;
        height: 40px;
        margin-bottom: 16px;
        border-radius: 4px 0px 0px 0px;
    }
}

@media (max-width:320px) {
    .label-footer-form {
        width: 36px;
        height: 24px;
        left: 32px;
        opacity: 0.6px;
    }
}

.form-email.placeholder {
    color: #ffffff;
}

.button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

@media (max-width:320px) {
    .button-subscribe {
        margin-top: 16px;
        margin-left: 77px;
        padding: 8px 24px 8px 24px;
        gap: 16px;
    }
}

.svg-item {
    margin-left: 16px;
}

/* Fereastra modala */

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 408px;
    height: 584px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

@media (max-width:320px) {
    .modal-container {
        width: 288px;
        height: 623px;
    }
}

@media (max-width:320px) and (min-resolution: 192dpi) {
    .modal-container {
        width: 408px;
        height: 584px;
    }
}

.modal-backdrop.is-open {
    visibility: initial;
}

.btn-close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.btn-close-modal:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.modal-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon {
    position: relative;
}

.input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus {
    border-color: #4d5ae5;
}

.input-name:focus+.svg-modal {
    fill: #4D5AE5;
}

.svg-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-modal:focus {
    fill: #4d5ae5;
}

.modal-form {
    margin-bottom: 8px;
}

.modal-form-com {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.form-check {
    margin-bottom: 24px;
}

.label-check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-check {
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked+.label-check .span-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.label-link {
    color: #4d5ae5;
}

.button-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}